@import "../_Config"


.main
    min-height: 90vh
    display: flex
    justify-content: center
    align-items: center


.form
    background-color: $primary
    border-radius: 10px
    min-height: 10vh
    width: 95%
    max-width: 485px
    margin: 5% auto
    padding: 1%
    box-shadow: 1px 1px 10px #df0202 

.container
    padding: 2% 5%
    margin-bottom: 5%

.title
    text-align: center 
    text-transform: uppercase
    font-weight: bold
    color: $tir

.input
    all: unset
    background-color: #fff
    padding: 5px
    width: calc( 100% - 10px )
    border-bottom: 5px solid $tir
    color: $secondary

.label
    color: $secondary
    font-weight: bold
.button
    @include button
    width: calc( 100% - 10px )

.text
    color: $secondary !important
.linkContainer
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column