@import "../_Config"
.all 
    display: none

@media print
    .all 
        display: block
    .slider
        width: 100%
        display: flex
        justify-content: center
        align-items: center
        background-color: red
        
    .sliderImage
        height: 15vh
    .logo
        width: 100%
        margin: 0 0 10px 0
        


    //Property Details
    .propertyHighLights
        width: 95%
        margin:2% auto
        display: grid
        grid-template-columns: 1fr 1fr
        gap: 20px 
        @include mobile
            grid-template-columns: 1fr
        

    .propertyHighLight
        color: $secondary
        list-style-position: outside !important
        text-align: left
        padding: 1% 5% 1% 0

    .property
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        width: 100%
        

    .label
        color: red
        
    .info
        color: $secondary
        background-color: #fff
        word-wrap: break-word
        border-left: 5px solid black
        padding: 10px
        margin: 5px
        border: 2px solid $secondary

    .fullDetail
        width: 90%
        margin:2% auto
        display: grid
        grid-template-columns:1fr
        @include mobile
            grid-template-columns: 1fr
            padding: 2%


    .profile
        width: 30%
        margin: auto
        height: unset
        aspect-ratio: 1
        background-size: cover
        background-position: center
        border-radius: 100%

    .plsLogin
        width: 90%
        margin: auto
        background-color: $secondary
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        padding: 2% 0
    .plsLoginText
        color: #fff



    //floor
    .floors
        width: 90%
        margin: auto
        display: flex
        flex-wrap: wrap
        justify-content: left
        align-items: left
    .floor
        min-width: 350px
        margin: 5% auto
        display: grid
        grid-template-columns: 1fr
        border: 5px solid $secondary
        padding: 2%
        background-color: $primary
        border-radius: 10px
        @include mobile
            grid-template-columns: 1fr
    .floorDetails
        width: 90%
        background-color: #fff
        padding: 5%
        border-radius: 5px
        box-shadow:1px 1px 5px rgba(0, 0, 0, 0.2)
        display: none
        @include mobile
            display: block
            
    .floorAmenity
        background-color: #fff
        margin-right: 20px
        padding: 1%
        border-radius: 5px
        box-shadow:1px 1px 5px rgba(0, 0, 0, 0.2)
            

    .floorLabel
        margin-right: 10px
        &::after
            content: ": "

    .table
        width: 100%
        display: grid
        grid-template-columns: repeat(8,1fr) 0.5fr
        justify-content: center
        align-items: center
        @include mobile
            strong 
                display: none
                
            

    .mobileIndexTable
        display: none
        @include mobile
            display: block
            



    //AgentPrint
    .agentContainer
        display: grid
        width: 100%
        grid-template-columns: 1fr 1fr 1fr
        margin-top: 10px
        
    .agentQR
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        h2
            color: red
    .agentPhoto
        display: flex
        justify-content: center
        align-items: center
        img
            width: 190px
            height: auto
    .agentDetails
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        h3
            color: red
            text-align: center
        h4 
            text-align: center

        *
            padding: 0
            margin: 0
    .agentContact
        text-align: center
        color: $secondary