@import "Config"

/* ------- COLORS -------
.container
  background-image: url("/buildings.jpg")
  background-size: cover

.gradientContainer
  min-height: 90vh
  width: 100%
  background-image: linear-gradient($primary, #00000000)
  display: flex
  justify-content: center
  align-items: center

.searchContainer
  width: 70%
  @include mobile
    width: 90%
 

.searchTypes

.searchType
  all: unset
  background-color: $secondary
  color: #fff
  padding: 10px 0 10px 0
  width: 15%
  text-align: center
  transition: all 0.3s
  font-weight: bold
  @include mobile
    width: 30%

.active
  background-color: red
  color:  #fff
  width: 20%
  @include mobile
    width: 70%

.searchBar
  width: 100%

  display: grid
  grid-template-columns: 1fr 1fr 1fr
  @include mobile
    grid-template-columns: 1fr


.state
  width: 100%
  padding: 5%
  background-color: $secondary

.stateSelect
  border: none
  width: 100%
  height: unset
  aspect-ratio: 8
  background-color: #fff

.inputCity
  background-color: $secondary
  padding: 5%
.city
  width: 100%
  height: unset
  aspect-ratio: 8
  border: none
  
  

.inputZipcode
  background-color: $secondary
  padding: 5%
.zipcode
  width: 100%
  height: unset
  aspect-ratio: 8
  border: none

.searchButton
  width: 100%
  background-color: $secondary
  display: flex
  justify-content: center
  align-items: center
.button
  all: unset
  background-color: $primary
  color: $secondary
  text-align: center
  width: 100%
  padding: 1%
  margin: 1% 0 0% 0
  font-weight: bold
  font-size: 1.5rem
  